# SPDX-FileCopyrightText: Copyright © 2024 Caleb Cushing
# SPDX-FileCopyrightText: Copyright © 2024 NONE
#
# SPDX-License-Identifier: CC0-1.0

root = true

[*]
trim_trailing_whitespace = true
end_of_line = lf
insert_final_newline = true
charset = utf-8
indent_style = space
indent_size = 2
