#!/bin/sh

# SPDX-FileCopyrightText: Copyright © 2024 Caleb Cushing
#
# SPDX-License-Identifier: MIT

asdf local java latest:temurin-21
asdf local nodejs latest:20
asdf local ktlint latest:1
asdf local python latest:3
