# SPDX-FileCopyrightText: Copyright © 2024 Caleb Cushing
#
# SPDX-License-Identifier: CC0-1.0

Caleb Cushing <caleb.cushing@gmail.com> <xenoterracide@gmail.com>
Caleb Cushing <caleb.cushing@gmail.com> Caleb C <caleb.cushing@gmail.com>
