# SPDX-FileCopyrightText: Copyright © 2026 Caleb Cushing
#
# SPDX-License-Identifier: CC0-1.0

/.yarn/**            linguist-vendored
/.yarn/releases/*    binary
/.yarn/plugins/**/*  binary
/.pnp.*              binary linguist-generated
*.jar                binary linguist-vendored
*.bat                text eol=crlf linguist-vendored
*.cmd                text eol=crlf linguist-vendored
/gradlew             text eol=lf   linguist-vendored
/mvnw                text eol=lf   linguist-vendored
**/*lockfile         text linguist-generated
yarn.lock            text linguist-generated

# subtree
/.ai/**              text linguist-vendored

# ours
*.sh                 text eol=lf
*                    text=auto eol=lf
