name: Full Unoptimized Build
on:
  push:
    branches: [main]
  pull_request:
    branches: [main]
  workflow_call:
jobs:
  full:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
        with:
          fetch-depth: 2
      - uses: gradle/actions/setup-gradle@v3
      - run: ./gradlew build --no-build-cache --no-configuration-cache
